@page
@model NewRecap.Pages.AdminPages.BrowseStoreLocationsModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Browse Location</label>
    </div>
</div>

<!-- Error Message-->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<div class="row my-2">
    <div class="col-2">
        <a asp-page="AddStoreLocations" class="btn btn-primary"><i class="bi bi-plus-square"></i> Add</a>
    </div>
</div>


@if (Model.Locations.Count != 0)
{
    @foreach (var LocalLocation in Model.Locations)
    {
        <div class="row my-3 p-4 bg-dark text-white border border-secondary rounded align-items-center text-center">

            <div class="col-md-1">
                <form method="post" asp-page-handler="Delete">
                    <input type="hidden" name="id" value="@LocalLocation.StoreLocationID" />
                    <button onclick="return confirm('Are you sure?')" class="btn btn-danger">
                        <i class="bi bi-trash3"></i>
                    </button>
                </form>
            </div>
            <!--Delete Button-->
            <div class="col-md-3 border-end border-secondary">
                <!-- left column -->
                <label class="form-label fw-bold">Store Number:</label>
                <div>@(LocalLocation.StoreLocationID)</div>
                <a asp-page="EditStoreNumber" asp-route-id="@LocalLocation.StoreLocationID" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit Store Number</a>
            </div>

            <div class="col-md-4 border-end border-secondary">
                <!-- left column -->
                <label class="form-label fw-bold">City:</label>
                <div>@(LocalLocation.StoreState ?? "N/A")</div>
                <a asp-page="EditStoreCity" asp-route-id="@LocalLocation.StoreLocationID" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit City</a>
            </div>

            <div class="col-md-4">
                <!-- left column -->
                <label class="form-label fw-bold">State:</label>
                <div>@(LocalLocation.StoreCity ?? "N/A")</div>
                <a asp-page="EditStoreState" asp-route-id="@LocalLocation.StoreLocationID" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit State</a>
            </div>
        </div>
        <hr />
    }
}
else
{
    <div class="row my-2">
        <div class="col-12">
            <label class="form-label" id="LabelText">No Store Locations yet. Click 'Add Store Location' to add a new store location.</label>
        </div>
    </div>
}
