@page
@model NewRecap.Pages.AdminPages.BrowseRecapsModel
@{
}

<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1" id="LabelText">Browse Recaps</label>
    </div>
</div>

@if (Model.Recaps.Count != 0)
{
    @foreach (var recap in @Model.Recaps)
    {
        @if(recap.IsHardwareRecap) 
        {
            <div class="row my-2">
                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapWorkorderNumber">Workorder Number:</label>
                        <label class="form-label" id="LabelText">@recap.RecapWorkorderNumber</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapDate">Recap Date:</label>
                        <label class="form-label" id="LabelText">@recap.RecapDate.ToString("MM/dd/yyyy")</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapDescription">Recap Description:</label>
                        <label class="form-label" id="LabelText">@recap.RecapDescription</label>
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-8">
                    <label class="form-label" id="LabelText" asp-for="@recap.RecapStoreLocation">Store Location:</label>
                    <label class="form-label" id="LabelText">@recap.RecapStoreLocation</label>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-8">
                    <label class="form-label" id="LabelText" asp-for="@recap.RecapAssetNumber">Asset Number:</label>
                    <label class="form-label" id="LabelText">@recap.RecapAssetNumber</label>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-8">
                    <label class="form-label" id="LabelText" asp-for="@recap.RecapSerialNumber">Serial Number:</label>
                    <label class="form-label" id="LabelText">@recap.RecapSerialNumber</label>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-8">
                    <label class="form-label" id="LabelText" asp-for="@recap.TotalWorkTime">Total Work Time:</label>
                    <label class="form-label" id="LabelText">@recap.TotalWorkTime Hour(s)</label>

                    <label class="form-label" id="LabelText" asp-for="@recap.TotalLunchTime">| Total Lunch Time:</label>
                    <label class="form-label" id="LabelText">@recap.TotalLunchTime Hour(s)</label>

                    <label class="form-label" id="LabelText" asp-for="@recap.TotalDriveTime">| Total Drive Time:</label>
                    <label class="form-label" id="LabelText">@recap.TotalDriveTime Hour(s)</label>

                    <label class="form-label" id="LabelText" asp-for="@recap.TotalDriveTime">| Total Time:</label>
                    <label class="form-label" id="LabelText">@recap.TotalTime Hour(s)</label>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-8">
                    <label class="form-label" id="LabelText">Time Worked:</label>
                    <label class="form-label" id="LabelText">@Html.Raw(recap.Segments)</label>

                </div>
            </div>

            <div class="col">
                <label class="form-label" id="LabelText" asp-for="@recap.RecapEmployees">Employees:</label>
                @foreach (var employees in recap.RecapEmployees)
                {
                    <span class="badge bg-secondary"> @employees</span>
                }
            </div>

            <!--ADMINPRIVS-->
            var isAdmin = ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"];
            @if (isAdmin)
            {
                <form method="post" enctype=" multipart /form-data">
                    <button onclick="return confirm('Are you sure?')" class="btn btn-danger" asp-route-id="@recap.RecapID" asp-page-handler="Delete">Delete</button>
                </form>
                <hr style="border: 1px solid white; opacity: 1;" />
            }
            <!--END OF ADMINPRIVS-->
        }
        else{
            <div class="row my-2">

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapWorkorderNumber">Workorder Number:</label>
                        <label class="form-label" id="LabelText">@recap.RecapWorkorderNumber</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapDate">Recap Date:</label>
                        <label class="form-label" id="LabelText">@recap.RecapDate.ToString("MM/dd/yyyy")</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapDescription">Recap Description:</label>
                        <label class="form-label" id="LabelText">@recap.RecapDescription</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapState">Recap State:</label>
                        <label class="form-label" id="LabelText">@recap.RecapState</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapCity">Recap City:</label>
                        <label class="form-label" id="LabelText">@recap.RecapCity</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.RecapVehicle">Vehicle Used:</label>
                        <label class="form-label" id="LabelText">@recap.RecapVehicle</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText" asp-for="@recap.TotalWorkTime">Total Work Time:</label>
                        <label class="form-label" id="LabelText">@recap.TotalWorkTime Hour(s)</label>

                        <label class="form-label" id="LabelText" asp-for="@recap.TotalLunchTime">| Total Lunch Time:</label>
                        <label class="form-label" id="LabelText">@recap.TotalLunchTime Hour(s)</label>

                        <label class="form-label" id="LabelText" asp-for="@recap.TotalDriveTime">| Total Drive Time:</label>
                        <label class="form-label" id="LabelText">@recap.TotalDriveTime Hour(s)</label>

                        <label class="form-label" id="LabelText" asp-for="@recap.TotalDriveTime">| Total Time:</label>
                        <label class="form-label" id="LabelText">@recap.TotalTime Hour(s)</label>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-8">
                        <label class="form-label" id="LabelText">Time Worked:</label>
                        <label class="form-label" id="LabelText">@Html.Raw(recap.Segments)</label>

                    </div>
                </div>

                <div class="col">
                    <label class="form-label" id="LabelText" asp-for="@recap.RecapEmployees">Employees:</label>
                    @foreach (var employees in recap.RecapEmployees)
                    {
                        <span class="badge bg-secondary"> @employees</span>
                    }
                </div>

            </div>
            <!--ADMINPRIVS-->
            var isAdmin = ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"];
            @if (isAdmin)
            {
                <form method="post" enctype=" multipart /form-data">
                    <button onclick="return confirm('Are you sure?')" class="btn btn-danger" asp-route-id="@recap.RecapID" asp-page-handler="Delete">Delete</button>
                </form>
                <hr style="border: 1px solid white; opacity: 1;" />
            }
            <!--END OF ADMINPRIVS-->
        }

    }
}
else
{
    <div class="row my-2">
        <div class="col-12 text-center">
            <label class="form-label" id="LabelText">No Recaps yet.</label>
        </div>
    </div>
}